@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/font/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/font/MaterialIcons-Regular.woff2) format("woff2"), url(/font/MaterialIcons-Regular.woff) format("woff"), url(/font/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-20 {
  font-size: 20px; }

.material-icons.md-22 {
  font-size: 22px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-26 {
  font-size: 26px; }

.material-icons.md-28 {
  font-size: 28px; }

.material-icons.md-30 {
  font-size: 30px; }

.material-icons.md-32 {
  font-size: 32px; }

.material-icons.md-34 {
  font-size: 34px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-38 {
  font-size: 38px; }

.material-icons.md-40 {
  font-size: 40px; }

.material-icons.md-42 {
  font-size: 42px; }

.material-icons.md-44 {
  font-size: 44px; }

.material-icons.md-46 {
  font-size: 46px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

body {
  margin: 0;
  display: flex;
  flex-direction: column; }
  body a {
    text-decoration: none;
    color: #007BFF; }
    body a.menu-toggle {
      color: black; }
  body div.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 100vw; }
  body div.page-wrapper {
    display: flex;
    flex-direction: row; }
    body div.page-wrapper div#menu-wrapper {
      flex-grow: 1;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      z-index: 100;
      padding: 10px;
      width: calc(100% - 20px);
      min-height: calc(100vh - 20px);
      background-color: #3d3d3d; }
      @media only screen and (min-width: 576px) {
        body div.page-wrapper div#menu-wrapper {
          visibility: visible;
          position: relative;
          max-width: 200px; } }
      body div.page-wrapper div#menu-wrapper.active {
        visibility: visible; }
        body div.page-wrapper div#menu-wrapper.active > a.menu-toggle {
          visibility: visible; }
          @media only screen and (min-width: 576px) {
            body div.page-wrapper div#menu-wrapper.active > a.menu-toggle {
              visibility: hidden; } }
      body div.page-wrapper div#menu-wrapper > a.menu-toggle {
        visibility: hidden; }
      body div.page-wrapper div#menu-wrapper div.menu-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
    body div.page-wrapper div.admin-page {
      background-color: rgba(166, 166, 166, 0.76);
      flex-grow: 2;
      max-width: 100%; }
