// Main

$theme-primary: #3A606E;
$theme-secondary: #60787D;

$text-colour: #FFFFFF;

// Navigation elements

$nav-text-colour: #FFFFFF;
$nav-background-colour: #828E82;

// Cards

$card-text-color: #FFFFFF;
$card-background-color: lighten($theme-primary, 10%);
$card-footer-border: $theme-secondary;
